<% if current_user.lessons.any? %>
	<div class="popular-lesson-text-container">
		<div class="liner"></div>
		<p>My Lessons</p>
	</div>
	<div id='accordion'>
		<% @lessons.each do |lesson| %>
			<%= render partial: 'lesson', locals: { lesson: lesson, owned: false } %>
		<% end %>
	</div>
<% else %>
	<p>You have no lessons in your notebook! Click a lesson on the main page and it will be automatically added here.</p>
<% end %>

<% if current_user.created_lessons.any? %>
	<div class="popular-lesson-text-container">
		<div class="liner"></div>
		<p>Created Lessons</p>
	</div>
	<div id='accordion'>
		<% current_user.created_lessons.each do |lesson| %>
			<%= render partial: 'lesson', locals: { lesson: lesson, owned: true } %>
		<% end %>
	</div>
<% end %>