<%= stylesheet_link_tag    "player_main_css.css", :media => "all" %>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>

    <script type="text/javascript">
google.load("swfobject", "2.1");
</script>

    <%= javascript_include_tag "player_jquery" %>
    <%= javascript_include_tag "jquery.jsPlumb-1.4.0-all-min" %>


    <%= javascript_include_tag "player_jsplumb" %>



    <script type="text/javascript">

// alert(google);


  function updateProgressBar(currentTime, duration) {
    if (currentTime !== 0 && duration !== 0) {
        var progressRatio = currentTime / duration;
        var progressUpdate = 800 * progressRatio;
    }
    $('.progress').css('width', progressUpdate);
}

function updateHTML(elmId, value) {
    document.getElementById(elmId).innerHTML = value;
}

function updateValue(elmId, value) {
    document.getElementById(elmId).value = value;
}

function onPlayerError(errorCode) {
    alert("An error occured of type:" + errorCode);
}

function onPlayerStateChange(newState) {
    updateHTML("playerState", newState);
}

function updatePlayerInfo() {
    if (ytplayer && ytplayer.getDuration) {
        updateHTML("videoDuration", ytplayer.getDuration());
        updateHTML("videoCurrentTime", ytplayer.getCurrentTime());
        updateProgressBar(ytplayer.getCurrentTime(), ytplayer.getDuration());
        // updateHTML("volume", ytplayer.getVolume());
    }

$("#"+Math.round(ytplayer.getCurrentTime())).show("display", "inline");
}

function setVideoVolume() {
    var volume = parseInt(document.getElementById("volumeSetting").value);
    if (isNaN(volume) || volume < 0 || volume > 100) {
        alert("Please enter a valid volume between 0 and 100.");
    } else if (ytplayer) {
        ytplayer.setVolume(volume);
    }
}

function seekTo(time) {
    if (ytplayer) {
        ytplayer.seekTo(time, true);
    }
}

var id;

var Test = function () {
    return window.setInterval(function () {
        changeCss();
    }, 0);
};


var changeCss = function () {
    $(".qtrack_one").css("margin-left", "-" + ytplayer.getCurrentTime() * 100 + "px");
    $(".qtrack_two").css("margin-left", "-" + ytplayer.getCurrentTime() * 100 + "px");

};

    function playVideo() {
        if (ytplayer) {
            ytplayer.playVideo();
        }
        id = Test();
    }

    function pauseVideo() {
        if (ytplayer) {
            ytplayer.pauseVideo();
        }
        window.clearInterval(id);
    }

    function onYouTubePlayerReady(playerId) {
        ytplayer = document.getElementById("ytPlayer");
        setInterval(updatePlayerInfo, 250);
        updatePlayerInfo();
        ytplayer.addEventListener("onStateChange", "onPlayerStateChange");
        ytplayer.addEventListener("onError", "onPlayerError");
        ytplayer.cueVideoById("qJe3cdM7f1c");
    }

    function loadPlayer() {
        var params = {
            allowScriptAccess: "always"
        };
        var atts = {
            id: "ytPlayer"
        };
        // All of the magic handled by SWFObject (http://code.google.com/p/swfobject/)
        swfobject.embedSWF("http://www.youtube.com/apiplayer?" +
            "version=3&enablejsapi=1&playerapiid=player1",
            "videoDiv", "900", "500", "9", null, null, params, atts);
    }

    function _run() {
        loadPlayer();
        // alert("here");
    }

google.setOnLoadCallback(_run);

    </script>

<table>

<tr>
  <td>
<div id="videoDiv">Loading...</div>

  </td><td>
  <td>
<div class="img_right">



  <% 10.times do |question|%>

<table class="table_question_right" id=<%= rand(160)+1%>>
<tr>
<td class="qpic">
  <img class="face" src="http://www.biography.com/imported/images/Biography/Images/Profiles/Z/Mark-Zuckerberg-507402-1-402.jpg">
</td>
<td class="qquestion">

<img id="bubble" src="http://www.mentalhelp.net/images/root/speechbubble_id28031361.jpg.jpg"></td>
</tr>
</table>

<%end%>

</div>
  </td>
      </tr>
</table>
<br>
      <div id="videoInfo">
        <p>Player state: <span id="playerState">--</span></p>
        <p>Current Time: <span id="videoCurrentTime">--:--</span> | Duration: <span id="videoDuration">--:--</span></p>
        <p>Controls: <a href="javascript:void(0);" onclick="playVideo();">Play</a> | <a href="javascript:void(0);" onclick="pauseVideo();">Pause</a></p>
      </div>

<form>
  <input id="comment" type="text" value="comment"></br>
  <input id="time" type="text" value="time" readonly></br>
  <input id="clicker" type="submit" value="submit">
</form>

  <div class="progress-bar">
      <div class="progress"></div>
    </div>




<!-- Questions -->

<div class ="question_track">

<div class="qtrack_one">

<% 50.times do |question|%>

<table class="table_question">
<tr>
<td class="qpic">
  <img class="face" src="http://www.biography.com/imported/images/Biography/Images/Profiles/Z/Mark-Zuckerberg-507402-1-402.jpg">
</td>
<td class="qquestion">

<img id="bubble" src="http://www.mentalhelp.net/images/root/speechbubble_id28031361.jpg.jpg"></td>
</tr>
<tr><td><%= question %>.</td></tr>
</table>
<table class="table_question">
<tr>
<td class="qemptypic">       </td>
<td class="qemptyquest">       </td>
</tr>
</table>

<%end%>


</div>
<br>

</div>


<div class ="answer_track">

</div>


<br>
<br>
<br>
<br>


<!-- Answers -->

<table class="table_question">
<tr>
<td class="qpic">
  <img id="face1" class="face" src="http://www.biography.com/imported/images/Biography/Images/Profiles/Z/Mark-Zuckerberg-507402-1-402.jpg">
</td>
<td class="qquestion">
<img id="bubble" src="http://www.mentalhelp.net/images/root/speechbubble_id28031361.jpg.jpg"></td>
</tr>
</table>

<table class="table_question">
<tr>
<td class="qpic">
  <img id="face3" class="face" src="http://www.biography.com/imported/images/Biography/Images/Profiles/Z/Mark-Zuckerberg-507402-1-402.jpg">
</td>
<td class="qquestion">

<img id="bubble" src="http://www.mentalhelp.net/images/root/speechbubble_id28031361.jpg.jpg"></td>
</tr>
</table>





















