<div class="clicker">
<form class="chapter-view">    
<input class="chapter" type="text" placeholder="Index">
<input id="second" type="text" placeholder="Second">
<input id="button" type="submit" value="Submit">
</form>
</div>





<div class="upper-box"></div>
<div class="lower-box">

<% 4.times do |chapter|%>    

<% 2.times do %>
<% 1.upto(10) do |question|%>   
    
<div class="lquestion-container c<%= chapter %> m<%= question %>">
    <div class="question-wrapper">
<div class="lquestion">
          <div class="triangle-border">
<div class="lquestion-title">

    <p>TEST QUESTION TITLE C<%= chapter %>, S<%= question %></p></div>
<div class="lquestion-body">Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. <p class="author"> Barack Obama, July 4th 2013</p></div>
</div>
</div>
<img class="question-image" src="http://www.biography.com/imported/images/Biography/Images/Profiles/O/Barack-Obama-12782369-2-402.jpg">
</div>





<div class="lanswer-container">
    <div class="answer-wrapper">
<div class="lanswer">
    <div class="atriangle-border">
<div class="lanswer-body">Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. <p class="author"> Barack Obama, July 4th 2013</p></div>
</div>
</div>
<img class="answer-image" src="http://www.biography.com/imported/images/Biography/Images/Profiles/O/Barack-Obama-12782369-2-402.jpg">
</div>

    <div class="answer-wrapper">
<div class="lanswer">
    <div class="atriangle-border">
<div class="lanswer-body">Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. <p class="author"> Barack Obama, July 4th 2013</p></div>
</div>
</div>
<img class="answer-image" src="http://www.biography.com/imported/images/Biography/Images/Profiles/O/Barack-Obama-12782369-2-402.jpg">
</div>
    <div class="answer-wrapper">
<div class="lanswer">
    <div class="atriangle-border">
        <textarea class="answer_input" placeholder="Answer this Question"></textarea><br>
        <br>
        <button id="answer_button">Answer</button>
</div>
</div>
<img class="answer-image" src="http://www.biography.com/imported/images/Biography/Images/Profiles/O/Barack-Obama-12782369-2-402.jpg">
</div>
</div>





</div>    



<% end %>
<% end %>
<% end %>

</div>