<% lessons.each_slice(4).each do |lesson_slice| %>
  <ul>
    <% lesson_slice.each do |lesson| %>
      <%= link_to lesson_path(lesson) do %>
        <li class='lesson-preview'>
          <img class='lesson-preview-thumbnail'></img>
          <span><%= lesson.title %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
