<div class="popular-lesson-text-container">
	<div class="liner"></div>
	<p>Popular Lessons</p>
</div>

<% lessons.each do |lesson| %>
  <%= link_to lesson_path(lesson) do %>
    <div class="lesson-thumbnail-shell">
      <%=  image_tag lesson.contents.first.thumbnail %>
      <p><%= lesson.title %></p>
    </div>
  <% end %>
<% end %>
