<script type="text/html" id="question-template">
<div class="question-wrapper">
<div class="lquestion">
<div class="triangle-border">
<div class="lquestion-title">
<p data-content="title">
</p>
</div>
<div data-content="text" class="lquestion-body">
<p data-content="author" class="author">
</p>
</div>
</div>
</div>
<% if is_logged_in? %>
<img class="question-image" src="https://graph.facebook.com/<%=current_user.uid%>/picture">
<% end %>
</script>