<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
	google.load("swfobject", "2.1");
</script>
<h1>Edit your lesson</h1>

<div class="video-window">
	<% @lesson.contents.each_with_index do |content, index| %>
		<%= render partial: 'contents/new_content', locals: {content: content, positionIndex: index, lesson: @lesson} %>
	<% end %>
</div>

<!-- <div class="progress-bar"> -->
  <!-- <div class="progress"></div> -->
  <!-- <div class="draggable-progress"></div> -->
<!-- </div> -->

<button class="set-new-chapter" onClick="_run()">run</button>