<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
	google.load("swfobject", "2.1");
  lesson_id = <%= @lesson.id %>
</script>
<h1>Edit your lesson</h1>

<div class="video-window">
	<% @lesson.contents.each_with_index do |content, index| %>
		<%= render partial: 'contents/new_content', locals: {content: content, positionIndex: index, lesson: @lesson} %>
	<% end %>
</div>

<!-- <div class="progress-bar"> -->
  <!-- <div class="progress"></div> -->
  <!-- <div class="draggable-progress"></div> -->
<!-- </div> -->

<input type="text" class="add-youtube-movie-input" value="http://www.youtube.com/watch?v=k0BWlvnBmIE">
<button class="add-new_youtube-clip">Add Another Youtube Clip</button>