<h1 class="home-title">Become an expert on anything</h1>
<h2 class="home-title">Through free, interactive, user-generated courses</h3>

<div class="home-search-container">
	<input autofocus id="search" placeholder='What do you want to learn?'>
</div>

<div id='results' class="home-search-results">
  <%= render partial: 'list', locals: { lessons: @lessons } %>
</div>