<div class='title'>
  <img src="" alt="">
  <h1>Raise Your Hand</h1>
  <h3>Become an expert in anything through free, interactive, user-generated courses.</h3>
</div>

<label for="search"></label>
<input id="search">
<div id='results'></div>

<% @lessons.each_slice(4).each do |lesson_slice| %>
  <ul>
    <% lesson_slice.each do |lesson| %>
      <%= link_to lesson_path(lesson) do %>
        <li class='lesson-preview'>
          <img class='lesson-preview-thumbnail'></img>
          <span><%= lesson.title %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
