<div class='title'>
  <img src="" alt="">
  <h1>Raise Your Hand</h1>
  <h3>Become an expert in anything through free, interactive, user-generated courses.</h3>
</div>

<label for="search"></label>
<input id="search">
<div id='results'></div>
<div id='results'>
  <%= render partial: 'list', locals: { lessons: @lessons } %>
</div>