<h2>Lessons</h2>
<div id="search-results-lessons">
  <%= render partial: 'list', locals: { records: lessons, second_column_header: 'Users' } %>
</div>

<h2>Questions</h2>
<div id="search-results-questions">
	<%= render partial: 'list', locals: { records: questions, second_column_header: 'Answers' } %>
</div>