<div class="search-results">
	<h2>Lessons</h2>
  <%= render partial: 'lesson_list', locals: { lessons: lessons } %>
</div>

<div class="search-results">
	<h2>Questions</h2>
	<%= render partial: 'questions_list', locals: { questions: questions } %>
</div>