.hideForMVP{
	display: none;
}
.create-progress-bar{
	width: 575px;
	height: 30px;
	background-color: #668b39;
	z-index: 1;
	border-radius: 5px;
	position: relative;
	margin: 2px auto 5px 5px;
}
.sort-order-placement-draggable{
	position: absolute;
	top: 13px;
	right: 13px;
}
.watch-progress-bar{
	width: 575px;
	height: 30px;
	z-index: 1;
	position: relative;
	margin: 2px auto 5px 5px;
}
.live-questions-feed-container{
	width: 450px;
	height: 627px;
	position: absolute;
	left: 740px;
	overflow: scroll;
	border-radius: 10px;
	border: 2px solid #a3a3a3;
	color: #a3a3a3;
	outline: none;
	/*padding-right: 50px;*/
}
.lesson-user-input-shell{
	width: 640px;
	height: 300px;
	clear: both;
	position: relative;
}
.user-input-tab{
	width: 198px;
	height: 30px;
	margin: 0 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #0e5366;
	background-color: #fff;
	display:  inline-block;
	line-height: 30px;
	text-align: center;
	color: #12819f;
	cursor: pointer;
}
.user-lesson-inputs{
	width: 620px;
	border-radius: 10px;
	border: 2px solid #a3a3a3;
	margin: 10px auto;
	padding-left: 20px;
	font-size: 14px;
	color: #a3a3a3;
	outline: none;
}
.text-area-sizing-medium{
	padding-left: 20px;
	padding-top: 20px;
	width: 620px;
	border-radius: 10px;
	border: 2px solid #a3a3a3;
	margin: 10px auto;
	font-size: 14px;
	color: #a3a3a3;
	outline: none;
	height: 60px;
}
.user-lesson-inputs-slim{
	height: 40px;
}
.user-lesson-inputs-medium{
	height: 100px;
}
.user-lesson-inputs-fat{
	height: 110px;
}
.tabs-container{
	height: 30px;
	width: 100%;
	border-bottom: 3px solid #0e5366;
}
h1.home-title{
	font-size: 40px;
	margin: 60px auto 20px auto;
	color: #000;
	text-align: center;
	font-weight: 400;
}
h2.home-title{
	font-size: 24px;
	margin: 20px auto 60px auto;
	color: #668b39;
	text-align: center;
}
.home-search-container{
	width: 600px;
	margin: 0 auto;
}
.home-search-container input{
	width: 580px;
	height: 36px;
	border-radius: 10px;
	border: 3px solid #0e5366;
	font-size: 18px;
	color: #666666;
	padding: 4px 10px;
	text-align: center;
	margin: 0 auto 60px auto;
	background-color: #d4f1f9;
	outline: none;
}
.home-search-results{
	overflow: auto;max-width: 1140px;
	margin: 0 auto;
}
.lesson-thumbnail-shell{
	width: 261px;
	height: 183px;
	position: relative;
	float: left;
	margin: 9px;
	border: 2px solid #668b39;
}
.lesson-thumbnail-shell p{
	width: 251px;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #000;
	font-size: 14px;
	background-color: #e3f8d8;
}
.lesson-thumbnail-shell img{
	position: absolute;
	top: 0px
	left:0px;
	width: 100%;
	height: auto;
}
.popular-lesson-text-container{
	width: 100%;
	position: relative;
	margin: 50px auto;
}
.popular-lesson-text-container p{
	text-align: center;
	color: #8fc250;
	margin: 25px auto;
	width: 300px;
	background-color: #fff;
	font-size: 24px;
	z-index: 2;
}
.popular-lesson-text-container .liner{
	width: 100%;
	position: absolute;
	height: 2px;
	background-color: #8fc250;
	top: 13px;
	z-index: -1;
}
.user-input-indi-section{
	width: 100%;
	position: absolute;
	top: 50px;
	height:200px;
	left: 0px;
	display: none;
}
.add-more-yt-vids-text{
	margin: 20px 0 0 18px;
}
.user-input-indi-section-active{
	display: block;
}
.user-input-tab-active{
	background-color: #0e5366;
	color: #fff;
}
.create-progress{
	width:0px;
	height: 100%;
	position: absolute;
	top: 0px;
	background-color: blue;
	z-index: 2;
}
.progress{
	height: 100%;
	background-color: #8fc250;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
}
.splicer-instructions-text{
	margin: 2px auto 5px auto;
	text-align:center;
	font-size: 12px;
	color: #666;
	width: 100%;
}
.time-line-title-inner{
	position: absolute;
	left: 10px;
	top: 9px;
	font-size: 12px;
	color: #fff;
	height: 14px;
	overflow: hidden;
}
.play-pause-icon{
	width: 14px;
	height: 15px;
	background-image: url('play_pause_SPRITE.png');
	margin: 0px 5px;
}
.creat-lesson-controller-container{
	width: 640px;
	height: 30px;
	position: relative;
	margin: 5px 0 0 0;
}
.sub-header{
	overflow: auto;
	margin: 40px 0 25px 0;
	width: 100%;
}
.saving-data-shell{
	color: #aaaaaa;
	font-size: 12px;
	margin: 8px;
}
.new-lesson-form{
	width: 600px;
	margin: 50px auto 0 auto; 
}
.new-lesson-input{
	width: 100%;
	height: 60px;
	font-size: 24px;
	text-align: center;
	border-radius: 10px;
	border: 3px solid #8fc250;
	margin: 20px 0;
	outline: none;
}
.new-lesson-submit{
	width: 100%;
	height: 60px;
	background-color: #668b39;
	border: 3px solid #8fc250;
	border-radius: 10px;
	margin: 20px 0;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
}
.new-lesson-submit:hover{
	background-color: #8fc250;
	border: 3px solid #668b39;
}
.button2{
	padding: 5px 10px;
	background-color: #668b39;
	border-radius: 5px;
	border: 2px solid #8fc250;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
}
.button2:hover{
	background-color: #8fc250;
	border: 2px solid #668b39;
}
.button1:hover{
	background-color: #f6b983;
	border: 2px solid #fc9b46;
}  
.button1{
	padding: 5px 10px;
	background-color: #fc9b46;
	border-radius: 5px;
	border: 2px solid #f6b983;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
}
.left-floater{
	float: left;
}
.right-floater{
	float: right;
}
.playlist-shell{
	float: left;
	margin: 0 0 20px 10px;
}
.url-input-container{
	margin: 5px;
	height: 40px;
}
.submit-url-btn{
	height: 44px;
	width:30%;
}
.url-input-container input{
	height: 40px;
	padding-left: 8px;
	border: 2px solid #f6b983;
	border-radius: 5px;
	width:65%;
	outline: none;
}
ul.playlist-container{
	list-style: none;
	overflow: scroll;
	max-height: 320px;
}
.playlist-content{
	cursor: pointer;
	position: relative;
	width: 430px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	color: #fff;
	text-shadow:1px 1px 2px #000;
}
.delete-content{
	right: 20px;
	top: 16px;
	width: 13px;
	height: 13px;
	background-image: url('small_x.png');
	position: absolute;
	display: none;
}
.create-draggable-progress{
	width: 2px;
	background-color: #fb5f61;
	height: 100%;
	position: absolute;
	z-index: 3;
}
.tab-for-progress-bar{
	position: absolute;
	top: -8px;
	height: 8px;
	width: 8px;
	left: -3px;
	border-radius: 10px;
	background-color: #fb5f61;
}
.progress-span{
	height: 100%;
	background-color: #000;
	position: absolute;
	opacity: 0.4;
	z-index: 2;
}
.button-play-pause{
	margin: 3px 0 0 0;
}
.create-draggable-progress-end{
	right: 0px;
}
h1.lesson-title{
	font-size: 32px;
	float: left;
}
.indi-video-title{
	margin: 30px 0 15px 0;
	height: 27px;
	overflow: hidden;
}
.full-time-line-header-text{
	clear: both;
	margin-left: 10px;
}
.video-window{
	width: 660px;
	height: 470px;
	overflow: hidden;
	position: relative;
	float: left; 
}
.video-window-watch-lesson{
	width: 660px;
	height: 420px;
	overflow: hidden;
	position: relative;
	float: left; 
}
.indi-video-shell{
	position: absolute;
	top: 0px;
	left: 0px;
	margin-bottom: 10px;
	padding-left: 10px;
	visibility: hidden;
}
.update-save-container{
	position: relative;
}
.updating-data{
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}
.saving-data{
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
}
.full-timeline-window{
	width: 100%;
	height: 30px;
	overflow: hidden;
	margin: 10px 0;
}
.full-lesson-timeline{
	width: 100%;
	height: 30px;
	background-image: url('honey_im_subtle.png');
	position: relative;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	border-radius: 10px;
}
.timeline-portion{
	height: 100%;
	display: inline-table;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}