/*
blue: 0e5366
blue-light: d4f1f9

green: 668b39
green-boder: 8fc250
green-light: e3f8d8

orange: fc9b46
orange-border: f6b983;

pink: fb5f61
pink-border: f9c9ca
*/
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin: 0px;
	padding:0px;
	color:#0e5366;
	margin-bottom: 10px;
}
p, li, textarea, input, a{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
button{
	cursor:pointer;
	text-decoration: none;
}
header.basic-header{
	width: 100%;
	min-height: 90px;
	border-bottom: solid #0e5366;
	padding-bottom: 10px;
}
header .logo-in-header{
	margin: 21px 0 0 0;
	position: relative;
}
.header-nav{
	float: right;
	list-style: none;
	margin: 22px 0 0 0;
	font-size: 14px;
}
.header-nav li{
	display: inline-block;
	margin: 0 0 0 20px;
	font-size: 14px;
}
.header-nav li a:link{
	color: #0e5366;
	text-decoration: none;
}
.header-nav li a:visited{
	color: #0e5366;
	text-decoration: none;
}
.header-nav li a:hover{
	color: #668b39;
}
.header-btn{
	position: relative;
	top: 9px;
}
.basic-container{
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
	padding: 0 70px;
	overflow: auto;
}
.side-decor{
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 0;
	background-color: #e3f8d8;
	top: 0px;
	bottom: 0px;
}
.side-decor-left{
	left: 0px;
}
.side-decor-right{
	right: 0px;
}