h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin: 0px;
	padding:0px;
	color:#72b24e;
	margin-bottom: 10px;
}
p, li, textarea, input{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
button{
	cursor:pointer;
}
header.basic-header{
	width: 100%;
	min-height: 90px;
	border-bottom: solid #b260b2;
	padding-bottom: 10px;
}
header .logo-in-header{
	margin: 21px 0 0 0;
	position: relative;
}
.header-nav{
	float: right;
	list-style: none;
	margin: 22px 0 0 0;
}
.header-nav li{
	display: inline-block;
	margin: 0 0 0 20px;
	font-size: 12px;
}
.header-btn{
	position: relative;
	top: 9px;
}
.basic-container{
	overflow: auto;
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
	padding: 0 70px;
}
.side-decor{
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 0;
	background-color: #e3f8d8;
	top: 0px;
	bottom: 0px;
}
.side-decor-left{
	left: 0px;
}
.side-decor-right{
	right: 0px;
}