* {
  font-family: 'Open Sans', sans-serif;
  padding-left: 0;
  text-indent: 0;
}

nav {
  color: white;
  background-color: #354B59;
  padding: 10px;
  height: 40px;
  position: relative;
}

nav h5 {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  position: absolute;
  right: 5%;
  top: 40%;
}

nav a:hover {
  color: yellow;
}

ul {
  list-style-type: none;
  text-align: center;
}

.lesson-preview {
  padding: 10px;
  width: 220px;
  display: inline-block;
  margin: 10px;
  box-shadow: 0 2px 2px #DCDCDC;
}

.lesson-preview:hover {
  box-shadow: 0 0 15px #666;
}

span {
  display: block;
  padding: 10px;
}

.lesson-preview-thumbnail {
  width: 218px;
  height: 134px;
  background-color: steelblue;
}

.title {
  margin: 60px 0 60px 200px;
  height: 150px;
}

.title img {
  float: left;
  margin-right: 20px;
  width: 125px;
  height: 125px;
  background-color: steelblue;
}


/*******SHOW LESSON*******/

#video {
  width: 50%;
  height: 450px;
  background-color: steelblue;
  margin: 50px 5%;
  display: inline-block;
}

.questions-answers {
  clear: both;
  margin-left: 950px;
  top:200px;
  display: inline-block;
  position: absolute;
  height: 83%;
  width: 35%;
  border: 1px solid black;
  overflow: scroll;
}

#show-lesson-title {
  margin: 1em 2em;
  border-bottom: 2px solid gray;
}

#content-index {
  margin: 2em;
  text-align: none;
}

#content-index ol li {

}

#content-index ol li ul {
  margin-bottom: 30px;
}

#content-index ol li ul li {
  text-align: left;
}

.question, .answer {
  /*display: none;*/
  margin: 15px;
  text-align: left;
  padding: 5px;
  border-radius: 3px;
}

.question {
  background-color: #db8adb;
  margin-right: 80px;
}

.answer {
  background-color: #9ed77e;
  margin-left: 80px;
}

.qanswer{
  display: none;
}
