* {
  font-family: 'Open Sans', sans-serif;
  padding-left: 0;
  text-indent: 0;
}

nav {
  color: white;
  background-color: #354B59;
  padding: 10px;
  height: 40px;
  position: relative;
}

nav h5 {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  position: absolute;
  right: 5%;
  top: 40%;
}

nav a:hover {
  color: yellow;
}

ul {
  list-style-type: none;
  text-align: center;
}

.lesson-preview {
  padding: 10px;
  width: 220px;
  display: inline-block;
  margin: 10px;
  box-shadow: 0 2px 2px #DCDCDC;
}

.lesson-preview:hover {
  box-shadow: 0 0 15px #666;
}

span {
  display: block;
  padding: 10px;
}

.lesson-preview-thumbnail {
  width: 218px;
  height: 134px;
  background-color: steelblue;
}

.title {
  margin: 60px 0 60px 200px;
  height: 150px;
}

.title img {
  float: left;
  margin-right: 20px;
  width: 125px;
  height: 125px;
  background-color: steelblue;
}


/*******SHOW LESSON*******/

#video, #content-index {
  width: 50%;
  height: 450px;
  background-color: steelblue;
  margin: 10px 5%;
  display: inline-block;
}


.questions-answers {
  clear: both;
  margin-left: 950px;
  top:200px;
  display: inline-block;
  position: absolute;
  height: 83%;
  width: 35%;
  border: 1px solid black;
  overflow: scroll;
}

#show-lesson-title {
  margin: 1em 2em;
  border-bottom: 2px solid gray;
}

#content-index {
  background-color: white;
}

#content-index ol li {

  list-style-type: none;
  padding: 5px;

}

#content-index ol li ul {
  margin-bottom: 30px;
}

#content-index ol li ul li {
  text-align: left;
}

#questions-answers {
  display: inline-block;
  position: absolute;
  right: 70px;
  height: 650px;
  top: 230px;
  width: 500px;
  border: 1px solid black;
  overflow: scroll;
}

.videoDiv{
  top: 0px;
}

.soundcloud {
  width: 900px;
  height: 50px;
  background-color: yellow;
}

#show-lesson-title {
  margin: 1em 2em;
  border-bottom: 2px solid gray;
}

.question, .answer {
  /*display: none;*/
  margin: 15px;
  text-align: left;
  padding: 5px;
  border-radius: 3px;
}

.question {
  background-color: #db8adb;
  margin-right: 80px;
  height: 50px;
}

.answer {
  background-color: #9ed77e;
  margin-left: 80px;
}

.qanswer{
  display: none;
}

.content-nav {
  width: 93%;
  margin: 10px auto;
  border-spacing: 6px;
}

.content-nav-piece {
  background-color: #E6E6E6;
}

.content-nav-piece:hover {
  border-spacing: 10px;
  background-color: steelblue;
}

.content-nav-piece span {
  background-color: white;
  float: right;
  margin-right: 5%;
  text-align: center;
  width: 8px;
  height: 8px;
  font-size: 14px;
  line-height: 8px;
  border-radius: 16px;
  border: 1px solid gray;
  color: gray;
}

/*******NAV*******/

#login-logout {
  width: 25%;
  float: right;
}

#title {
  display: inline-block;
  position: absolute;
  left: 10%;

}

.triangle-border {
  width: 400px;
  /*height: 50px;*/
  position:relative;
  padding:15px;
  /*margin:1em 0 3em;*/
  margin-left: 20px;
  /*border:5px solid black;*/
  color:#333;
  background:steelblue;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:steelblue transparent;
  background-color: white;
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:steelblue transparent;
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}

.bubble-face {
  vertical-align: left;
  clear: both;
  margin-top: 10px;
  margin-left: 21px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  /*left:0px;*/
}

.qcontainer {
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*background-color: red;*/
}

.atriangle-border {
  width: 400px;
  /*height: 50px;*/
  position:relative;
  padding:15px;
  margin-left: 20px;
  color:#333;
  background:green;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}



.atriangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  right:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:green transparent;
  background-color: white;
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}

/* creates the smaller  triangle */
.atriangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  right:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:green transparent;
  display:block; 
  width:0;
}
.abubble-face {
  vertical-align: left;
  clear: both;
  margin-top: 10px;
  margin-left: 195px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.repective-answers{
  margin-top: 0px;
}

.acontainer {
  display: none;
  /*height: 150px;*/
}

.question_body {
  display: none;
}