  .comments {
    height: 200px;
    overflow: hidden;
  }
  .comment_list {
    top: 100px;
    margin-top: -0px;
    position: relative;
  }
  .progress-bar{
  width: 800px;
  height: 50px;
  background-color: red;
  z-index: 1;
  position: relative;
}
.progress{
  width:0px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: blue;
  z-index: 2;
}
.draggable-progress{
  width: 20px;
  background-color: black;
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: 3;
}
.question_track {
  width: 100%;
  overflow: hidden;
  margin-left: 0px;
}
.table_question {
  float: left;
  display:inline;
    white-space: normal;
}
.qpic {
  width: 50px;
  height: 20px;
  padding-top: 150px;
}
.qquestion {
  width: 50px;
  height: 20px;
}
.qemptypic {
  width: 50px;
  height: 20px;
}
.qemptyquest {
  width: 50px;
  height: 20px;
}
.qtrack_one {
   overflow:hidden;
  width: 10000%;
  margin-left: 0px;
}
.qtrack_two {
   overflow:hidden;
   margin-left: 0px;
  width: 1000000px;
}
#bubble {
  width: 150px;
}
.face {
  width: 50px;
  height: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.face_mini {
  width: 20px;
  height: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#container0{
  width: 100px;
  height: 100px;
  background-color: black;
}
#container1{
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  margin-left: 20px;
}
#container2{
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: 20px;
  float: left;
}
#container3{
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  margin-left: 20px;
}
.img-right {
  /*float: left;*/
  left: 600px;
}
.table_question_right{
  display: none;
  float: left;
  position: absolute;
}
#videoInfo{
  clear: both;
}
