  .comments {
    height: 200px;
    overflow: hidden;
  }
  .comment_list {
    top: 100px;
    margin-top: -0px;
    position: relative;
  }
  .progress-bar{
  width: 900px;
  height: 50px;
  background-color: green;
  z-index: 1;
  position: relative;
}
.progress{
  height: 100%;
  background-color: green;
  position: absolute;
   z-index: 2;
}

.draggable-progress{
  width: 20px;
  background-color: black;
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: 3;
}
.question_track {
  width: 900px;
  overflow: hidden;
  margin-left: 0px;
}
.table_question {
  float: left;
  display:inline;
    white-space: normal;
}
.qpic {
  width: 50px;
  height: 20px;
  padding-top: 150px;
  border-radius:
}
.qquestion {
  width: 50px;
  height: 20px;
}
.qemptypic {
  width: 50px;
  height: 20px;
}
.qemptyquest {
  width: 50px;
  height: 20px;
}
.qtrack_one {
   overflow:hidden;
  width: 10000%;
  margin-left: 0px;
}
.qtrack_two {
   overflow:hidden;
   margin-left: 0px;
  width: 1000000px;
}
#bubble {
  width: 150px;
}
.face {
  width: 50px;
  height: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-radius: 50px;
  border: 3px solid black;
}
.face_mini {
  width: 20px;
  height: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;

}
#container0{
  width: 100px;
  height: 100px;
  background-color: black;
}
#container1{
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  margin-left: 20px;
}
#container2{
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: 20px;
  float: left;
}
#container3{
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  margin-left: 20px;
}
.img-right {
  /*float: left;*/
  left: 600px;
}
.table_question_right{
  display: none;
  float: left;
  position: absolute;
}
#videoInfo{
  clear: both;
  display: none;
}
#ask_question {
  width: 900px;
  background-color: #354B59;
}
#q-title{
  margin-left: 25%;
  width: 450px;
  height: 40px;
  font-size: 20px;
}
#q-body{
  margin-left: 25%;
  margin-top: 20px;
  width: 450px;
  height: 100px;
  font-size: 20px;
}
#question-header {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
#q-submit{
  margin-left: 45%;
  font-size: 20px;
  width: 100px;
  height: 25px;
}

.question {
border: 2px solid black;
float: left;
}

#chapter{
  float: left;
  width: 95px;
  margin-left: 2px;
  height: 20px;
  background-color: red;
  border: 1px solid black;
}

.top{
  margin-left: 60px;
}
.progress-bar{
  margin-left: 60px;
}

#navigation_bar{
  margin-left: 60px;
}
.dragger{
   width: 10px;
  background-color: black;
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: 3;
}
