.voting-panel {
	font-size: 20px;
	text-align: center;
  float: left;
  width: 35px;
  position: absolute;
  left: 25px;
  top: 11px;
}

.vote {
  color: #444;
  text-decoration: none;
  margin: 0 auto;
}

.voting-panel span {
  padding: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-align: center;
}

.icon-chevron-sign-up:hover {
	color: green;
}

.icon-chevron-sign-down:hover {
	color: red;
}