<div class="indi-video-shell indi-video-shell-<%= content.id %>" data-content-id="<%= content.id %>">
	<div id="videoDiv"></div>
	<script type="text/javascript">
		_run('<%= content.id %>');
	</script>
</div>